<f:layout name="Default" />

<f:section name="main">
    <f:if condition="{videos}">
        <f:if condition="{colClass}">
            <f:then>
                <f:if condition="{data.image_noRows}">
                    <f:then>
                        <div class="{rowClass}">
                        <f:for each="{videos}" as="videoRow" key="colIndex" >
                            <f:for each="{videoRow}" as="video" key="index" >
                                <div class="{colClass}">
                                    <div class="video-wrapper"><f:render section="videoItem" arguments="{video:video, data:data, captionPosition:captionPosition, extLinkIcon:extLinkIcon}" /></div>
                                </div>
                            </f:for>
                        </f:for>
                        </div>
                    </f:then>
                    <f:else>
                        <f:for each="{videos}" as="videoRow" key="colIndex" >
                            <div class="{rowClass}">
                                <f:for each="{videoRow}" as="video" key="index" >
                                    <div class="{colClass}">
                                        <div class="video-wrapper"><f:render section="videoItem" arguments="{video:video, data:data, captionPosition:captionPosition, extLinkIcon:extLinkIcon}" /></div>
                                    </div>
                                </f:for>
                            </div>
                        </f:for>
                    </f:else>
                </f:if>
            </f:then>
            <f:else>
                <f:for each="{videos}" as="video" key="index" ><div class="video-wrapper"><f:render section="videoItem" arguments="{video:video, data:data, captionPosition:captionPosition, extLinkIcon:extLinkIcon}" /></div></f:for>
            </f:else>
        </f:if>
    </f:if>
</f:section>

<f:section name="videoItem">
    <f:format.raw>{video.embedCode}</f:format.raw>
    <f:if condition="{data.image_zoom}">
        <span class="videoce-zoom"><a rel="{settings.clickEnlargeATagRel}[c{data.uid}]" href="{video.linkUrl}"><i class="{extLinkIcon}"></i></a></span>
    </f:if>
    <f:if condition="{video.caption} == ' '">
        <f:then><p class="caption-{captionPosition}">&nbsp;</p></f:then>
        <f:else><f:if condition="{video.caption}"><p class="caption-{captionPosition}">{video.caption}</p></f:if></f:else>
    </f:if>
</f:section>